*.pt
/VisDrone2019-DET-val
/VisDrone2019-DET-train
/VisDrone2019-DET-test-dev
/VisDrone2019-DET-test-challenge
/runs
/demo/__pycache__
/demo/.venv
/demo/dist
/demo/*.exe
/demo/*.spec
/demo/build
/drone
/drone_s
/dataset
/drone
/.venv
*.zip
*.onnx
*.pyc
*.mp4